@font-face {
  font-family: "Bebas";
  src: url(fonts/BebasNeue-Regular.woff2);
}

header {
  padding: 10px 20px 15px;
  /* margin-bottom: 30px; */
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration-color: transparent;
  color: #1134B2;
  padding: 0 15px;
  font-family: "Montserrat";
  font-weight: 600;
}

nav a:hover {
  text-decoration-color: #8a2be2;
  color: #8a2be2;
}

.header-icons {
  display: flex;
  width: 172px;
  justify-content: center;
  gap: 15px;
}

.header-icons a img {
  filter: brightness(0) saturate(100%) invert(16%) sepia(76%) saturate(3532%) hue-rotate(226deg) brightness(85%) contrast(102%);
}

.header-icons a:hover img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(100%) saturate(2079%) hue-rotate(259deg) brightness(86%) contrast(107%);
}

#hero-shot {
  width: 100vw;
  height: calc(100vh - 79px);
  position: relative;
  background-image: url(images/pexels-taryn-elliott-5405598.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  background-color: #000;
  opacity: 0.6;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#hero-shot p {
  z-index: 10;
  color: #fff;
  position: relative;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Bebas";
}

.hero-shot-container {
  z-index: 10;
  position: relative;
  width: fit-content;
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.hero-shot-container span {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Bebas";
}

button {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Bebas";
  font-size: 25px;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.exercises-container {
  margin: 30px auto;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.see-exercises {
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.section-title {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: bolder;
  margin: 30px auto 20px;
  width: fit-content;
  display: block;
}

.student-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  column-gap: 20px;
  row-gap: 40px;
}

.student-section .section-title {
  grid-column: span 3;
}

.post-card {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #000;
}

.post-card .image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

.post-card .image-container img {
  width: 100%;
}

.post-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.post-card-container .section-title {
  grid-column: span 4;
}

.buttons-section {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.buttons-section .student-name {
  padding: 7px 10px 5px;
  font-family: "Bebas";
  font-size: 25px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #000;
}

.student-name:hover {
  background-color: #fff;
  color: #000;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}

.info-container p {
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 20px;
  max-height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-family: "Montserrat";
  font-size: 16px;
  text-align: center;
  flex-grow: 1;
  height: 100%;
}

.info-container h2 {
  font-size: 20px;
  font-family: "Bebas";
  line-height: 22px;
  height: 44px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 44px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 15px 0;
  text-align: center;
}

.info-container button {
  margin: 15px auto 0;
}

@media screen and (max-width: 768px) {
  .post-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
  }

  .post-card-container .section-title {
    grid-column: span 2;
  }

  .buttons-section {
    flex-wrap: wrap;
  }

  header {
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 15;
  }

  .logo {
    order: 1;
  }

  .header-icons {
    order: 2;
    justify-content: flex-end;
  }

  nav {
    order: 3;
    width: 100%;
    margin: 10px 0;
    position: sticky;
  }

  main {
    padding-top: 118px;
  }

  .student-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .student-section .section-title {
    grid-column: span 2;
  }

  .post-card .image-container img {
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header-icons {
    width: auto;
  }
}